.container {
    max-width: 1614px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 20px;
}

.button {
    background: #7F56D9;
    border-radius: 47px;
    padding: 16px 28px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    transition: 0.4s all ease-in-out;
}

.button:hover {
    background: #503094;
}

.blur {
    width: 426px;
    height: 426px;
    position: absolute;
    z-index: -999;
    border-radius: 50%;
    background: rgba(61, 92, 255, 0.20);
    filter: blur(150px);
    top: -126px;
    left: -78px;
}