@media (max-width: 1200px) {
    .header__menu {
        display: none;
    }

    .header__image {
        display: none;
    }

    .burger {
        display: block;
    }

    .card {
        display: flex;
        flex-direction: column;
        margin: 15px;
        width: calc((33.333% - 30px));
    }

    .courses__title {
        font-size: 20px;
    }
}

@media (max-width: 992px) {
    .header__menu {
        display: none;
    }

    .header__image {
        display: none;
    }

    .burger {
        display: block;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        margin: 15px;
        width: calc((50% - 20px)); 
    }
    
    .courses__title {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .header__menu {
        display: none;
    }

    .header__image {
        display: none;
    }

    .burger {
        display: block;
    }

    .card {
        display: flex;
        flex-direction: column;
        margin: 15px;
        width: calc((50% - 20px)); 
    }

    .courses__title {
        font-size: 20px;
    }
}

@media (max-width: 556px) {
    .header__menu {
        display: none;
    }

    .header__image {
        display: none;
    }

    .burger {
        display: block;
    }

    .card {
        display: flex;
        flex-direction: column;
        margin: 15px;
        width: 100%; 
    }

    .courses__title {
        font-size: 20px;
    }
}