@import './fonts.css';
@import './reset.css';


/*SECTION ANIMATE*/

.container-animate {
	position: relative;
	width: 100%;
	overflow: hidden;
	/* for text	 */
}

.snows {
	position: absolute;
	width: 100%;
	height: 100%;
}

.snows span {
	position: absolute;
	top: -10%;
	left: 0;
	width: 1vw;
	height: 1vw;
	background: #FFF;
	border-radius: 50%;
	opacity: 0.8;
	box-shadow: 0 0 1vw 0.5vw rgba(255, 255, 255, 0.4);
	animation: snow-anim 10s 0s linear infinite;
}

/*SECTION HEADER*/

/* .header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
} */



.burger {
	display: none;
}

.burger__btn {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
}

.burger__btn::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 2px;
	width: 100%;
	background-color: #000;
	border-radius: 1px;
	transition: 0.6s;
}

.burger__btn::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	height: 2px;
	width: 100%;
	background-color: #000;
	border-radius: 1px;
	transition: 0.6s;
}

#burger:checked + .burger__btn > .burger__line {
	opacity: 0;
}

#burger:checked + .burger__btn::before {
	bottom: 7.5px;
	margin: auto;
	transform: rotate(45deg);
}

#burger:checked + .burger__btn::after {
	top: -7.5px;
	margin: auto;
	transform: rotate(-45deg);
}

.burger__menu {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	transition: 0.6s;
	color: #fff;
	height: 100vh;
	width: 90vw;
	background-color: rgba(10, 10, 10, 0.886);
	top: 0;
	left: -90vw;
}

.burger__link {
	font-size: 26px;
}

.burger__link:not(:last-child) {
	margin-bottom: 10px;
}

.burger__exit {
	position: absolute;
	right: 30px;
	top: 30px;
	width: 50px;
	height: 50px;
}

.burger__exit::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	top: 11px;
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
	transform: rotate(45deg);
}

.burger__exit::after {
	content: "";
	position: absolute;
	width: 50px;
	height: 3px;
	top: 23.5px;
	margin-left: -3px;
	background-color: #fff;
}

#burger:checked ~ .burger__menu {
	left: 0;
}

.burger__line {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 2px;
	width: 100%;
	background-color: #000;
	border-radius: 1px;
	transition: 0.6s;
}

/*SECTION HEADER*/

/*SECTION HERO*/

/*SECTION COURSES*/

/*SECTION COURSES*/

/* SECTION CATEGORY BEGIN */
.category_btn {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.category_subtitle {
	text-align: center;
	font-size: 60px;
	font-weight: 700;
	line-height: 70px;
	letter-spacing: -0.5px;
	color: #fff;
}

.categ_title {
	text-align: center;
	font-size: 60px;
	font-weight: 700;
	line-height: 70px;
	letter-spacing: -0.5px;
	color: #7F56D9;
}

.btn_category {
	width: 310px;
	height: 60px;
	margin: 10px 10px;
	border-radius: 9px;
	background-color: #524870;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	position: relative;
}

.categ_link {
	background: url(../src/ArrowUpRight.svg) no-repeat center #7F56D9;
	width: 50px;
	height: 45px;
	border-radius: 2px;
	position: absolute;
	top: 6px;
	right: 10px;
}

.design_i {
	background: url(../src/Pen.svg) no-repeat left;
	position: absolute;
	top: 14px;
	left: 15px;
	width: 29px;
	height: 28px;
}

.data_i {
	background: url(../src/Database.svg) no-repeat left;
	position: absolute;
	top: 14px;
	left: 15px;
	width: 32px;
	height: 28px;
}

.development_i {
	background: url(../src/Layers.svg) no-repeat left;
	position: absolute;
	top: 14px;
	left: 15px;
	width: 29px;
	height: 28px;
}

.business_i {
	background: url(../src/Group\ 512843.svg) no-repeat left;
	position: absolute;
	top: 14px;
	left: 15px;
	width: 29px;
	height: 28px;
}

.professional_i {
	background: url(../src/Paper.svg) no-repeat left;
	position: absolute;
	top: 14px;
	left: 15px;
	width: 29px;
	height: 28px;
}

.marketing_i {
	background: url(../src/Chart_pin.svg) no-repeat left;
	position: absolute;
	top: 14px;
	left: 15px;
	width: 29px;
	height: 28px;
}

.photography_i {
	background: url(../src/Img_box.svg) no-repeat left;
	position: absolute;
	top: 14px;
	left: 15px;
	width: 29px;
	height: 28px;
}

.music_i {
	background: url(../src/Music.svg) no-repeat left;
	position: absolute;
	top: 14px;
	left: 15px;
	width: 29px;
	height: 28px;
}

.difference_others {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 130px;
	margin-top: 120px;
}

.difference_question {
	max-width: 405px;
}

.diff_girl {
	max-width: 405px;
}

.difference_content {
	max-width: 405px;
}

.diff_background {
	border-radius: 242.5px;
	background: rgba(191, 227, 198, 0.27);
	width: 493px;
	height: 627px;
	position: relative;
}

.diff_pic {
	width: 100%;
	height: 100vh;
	max-height: 561px;
	background: url(../src/category_girl.svg) no-repeat center/cover;
	position: absolute;
	top: 74px;

}

.diff_subtitle {
	color: #FFF;
	font-size: 70px;
	font-weight: 700;
	line-height: 80px;
	letter-spacing: -0.5px;
}

.diff_title {
	color: #B0B0D1;
	font-size: 22px;
	font-style: normal;
	font-weight: 500;
	line-height: 40px;
	margin-top: 34px;
	margin-bottom: 15px;
}

.std_btn {
	width: 185px;
	height: 53px;
	border-radius: 47px;
	background: #7F56D9;
	box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
	color: #FFF;
	margin: 10px;
}

.std_btn:hover {
	color: #FF5156;
}

.icon_background {
	border-radius: 200px;
	background: linear-gradient(180deg, #A582F7 0%, #7747EC 100%);
	width: 84px;
	height: 84px;
}

.icon_instruc {
	background: url(../src/GraduationCap.svg) no-repeat center;
	height: 81px;
	width: 82px;
}

.icon_student {
	background: url(../src/Users.svg) no-repeat center;
	height: 81px;
	width: 82px;
}

.icon_video {
	background: url(../src/VideoCamera.svg) no-repeat center;
	height: 81px;
	width: 82px;
}

.icon_users {
	background: url(../src/UsersThree.svg) no-repeat center;
	height: 81px;
	width: 82px;
}

.content_row {
	display: flex;
	gap: 33px;
	margin: 46px 10px;
}

.content_row-text {
	margin: 10px;
}

.content_row-amount {
	color: #FFF;
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.24px;
}

.content_row_info {
	color: #B0B0D1;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;
}

/* SECTION CATEGORY  END*/


/* SECTION COURSE REVIEWS  begin*/
.section_header {
	margin-bottom: 100px;
}

.section_header_title {
	color: #FFF;
	font-size: 70px;
	font-style: normal;
	font-weight: 700;
	line-height: 70px;
	letter-spacing: -0.5px;
	text-align: center;
}

.testimonials {
	padding: 100px 0;
}

.testimonials-item {
	background-color: #381D74;
	padding: 30px;
	border-radius: 30px;
}

.testimonials-item img {
	max-width: 80px;
	border-radius: 50%;
	margin-right: 20px;
	vertical-align: middle;
}

.testimonials-item .name {
	font-size: 24px;
	text-transform: capitalize;
	font-weight: 600;
	color: #fff;
	line-height: 1.2;
}

.testimonials-item .job {
	text-transform: capitalize;
	color: #fff;
}

.testimonials-item p {
	margin-top: 20px;
	color: #fff;
}

.testimonials-item .rating {
	margin-top: 15px;
	font-size: 14px;
	color: hsl(36, 88%, 66%);
}

.testimonials .swiper-pagination {
	position: relative;
	margin-top: 40px;
	bottom: auto;
}

.testimonials .swiper-pagination-bullet {
	height: 12px;
	width: 12px;
	background-color: hsl(0, 0%, 100%);
}

/* эта часть снизу где текст и кнопки */
.information {
	display: flex;
	margin-top: 90px;
}

.info_motivation h3 {
	color: #FFF;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: 80px;
	letter-spacing: -0.5px;
}

.info_motivation span {
	color: #7F56D9;
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	line-height: 80px;
	letter-spacing: -0.5px;
}

.std_btn_info {
	color: #fff;
	width: 380px;
	height: 80px;
	flex-shrink: 0;
	border-radius: 40px;
	background: #7F56D9;
	margin: 10px;
}



/* SECTION COURSE REVIEWS  end */