@import './fonts.css';
@import './reset.css';


/*SECTION ANIMATE*/

.container-animate {
	position: relative;
	width: 100%;
	overflow: hidden;
	/* for text	 */
}

.snows {
	position: absolute;
	width: 100%;
	height:100%;
}

.snows span {
	position: absolute;
	top: -10%;
	left: 0;
	width: 1vw;
	height: 1vw;
	background: #FFF;
	border-radius: 50%;
	opacity: 0.8;
	box-shadow: 0 0 1vw 0.5vw rgba(255, 255, 255, 0.4);
	animation: snow-anim 10s 0s linear infinite;
}

/*SECTION HEADER*/

/* .header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
} */



.burger {
	display: none;
}

.burger__btn {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 17px;
}

.burger__btn::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 2px;
	width: 100%;
	background-color: #000;
	border-radius: 1px;
	transition: 0.6s;
}

.burger__btn::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	height: 2px;
	width: 100%;
	background-color: #000;
	border-radius: 1px;
	transition: 0.6s;
}

#burger:checked + .burger__btn > .burger__line {
	opacity: 0;
}

#burger:checked + .burger__btn::before {
	bottom: 7.5px;
	margin: auto;
	transform: rotate(45deg);
}

#burger:checked + .burger__btn::after {
	top: -7.5px;
	margin: auto;
	transform: rotate(-45deg);
}

.burger__menu {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	transition: 0.6s;
	color: #fff;
	height: 100vh;
	width: 90vw;
	background-color: rgba(10, 10, 10, 0.886);
	top: 0;
	left: -90vw;
}

.burger__link {
	font-size: 26px;
}

.burger__link:not(:last-child) {
	margin-bottom: 10px;
}

.burger__exit {
	position: absolute;
	right: 30px;
	top: 30px;
	width: 50px;
	height: 50px;
}

.burger__exit::before {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	top: 11px;
	border-left: 3px solid #fff;
	border-bottom: 3px solid #fff;
	transform: rotate(45deg);
}

.burger__exit::after {
	content: "";
	position: absolute;
	width: 50px;
	height: 3px;
	top: 23.5px;
	margin-left: -3px;
	background-color: #fff;
}

#burger:checked ~ .burger__menu {
	left: 0;
}

.burger__line {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 2px;
	width: 100%;
	background-color: #000;
	border-radius: 1px;
	transition: 0.6s;
}

/*SECTION HEADER*/

/*SECTION HERO*/

/*SECTION COURSES*/

.courses {
    /* background: #2C1F4A; */
    padding: 20px 0px;
}

.courses__title {
    text-align: center;
    color: #FFF;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: -0.5px;
    margin-bottom: 45px;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    width: calc((80% - 40px) / 3);
    border-radius: 10px;
    background: #381D74;
    color: #fff;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.card__img {
    width: 100%;
    object-fit: cover;
    display: block;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.card__top {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 15px;
    border: 2px solid rgba(255, 255, 255, 0.20);
    background: #381D74;
}

.card__time {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card__course {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-small-block {
    display: flex;
    gap: 5px;
    align-items: center;
    border: 1px solid #8C78BF;
    border-radius: 17px;
}

.card__bottom {
    background-color: #2E2D3D;
}

.card__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-right: 2px solid rgba(255, 255, 255, 0.20);
    border-bottom: 2px solid rgba(255, 255, 255, 0.20);
    border-left: 2px solid rgba(255, 255, 255, 0.20);
    background: #4A2C8D;
}

.card__btn {
    padding: 16px 28px;
    border-radius: 12px;
    background: #7F56D9;
    color: #fff;
}

/*SECTION COURSES*/